<%
# Initialize stuff
#dmname = "#{@estimate.name}-DailyModel"
#dm = JS::DailyModel.first(:name => dmname)
@dm.get_daily_model(config.type,@usage.to_f,config.min_q.to_f,config.max_q.to_f)
@dm.weekend_usage = config.weekend_usage.to_f
@dm.weekend_days = 7 - config.days.to_i
@unoptimized_price += @dm.calc_annual_unoptimiezed_price
# TODO:  want to put the config once per iteration instead of all this crap
#dm.put_config(config)
optimal_ris = @dm.calc_optimal_ris
#puts "OPTIMAL RIS #{optimal_ris}"
annual_price,first_month_price,rio_install_1y = @dm.calc_annual_price_with_ri(optimal_ris)
rio_price,first_month_price = @dm.calc_annual_price_with_ri(optimal_ris)
# TODO: need to figure out difference between previous month's RI purchase if we add an RI.
# 	Need to add a Monthly Total sans RI one time
#	Need to add Project Total
#  	Need to reduce calls to SimpleDB
@newmonth_ri_counter += optimal_ris
@m_onetime += rio_install_1y
@current_monthly = first_month_price - rio_install_1y
@total_current_monthly += @current_monthly
@m_monthly += first_month_price - rio_install_1y
%>
<div class="msg_list">
<p class="msg_head"><%= config.name %>: details 
Optimal Reserved Instances: <%= optimal_ris %><br />
</p>
<div class="msg_body">
<!-- First Month Cost: <%= first_month_price %><br /> -->

<table border=1>
<tr>
<center><th colspan=26><%= config.name %>
         <a href=<%= URI.escape("/configs/edit_config/#{config.id}") %>>
         Edit ---
        </a>
        <a href="/configs/delete_config/<%= config.id %>">
        Delete
        </a>
	Instance Type: <%= config.type %> 
	Days to Run this Model: <%= config.days %> 
</th></center></tr>
<tr>
<th> Hour: </th>
<%
@dm.day.sort.each { |key, hour|
	%><th><%=key%></th><%
	}
%>
<th>Total</th>
</tr>
<tr>
<th>Hourly Utilization %</th>
<%
total = 0.0
@dm.day.sort.each { |key, hour|
        %><td><%=hour.usage%></td><%
	total += hour.usage.to_f
        }
%>
<td><%=total%></td>
</tr>
<tr>
<th>Number of Instances</th>
<%
hour_total = 0.0
@dm.day.sort.each { |key, hour|
        %><td><%=hour.instances%></td><%
	hour_total += hour.instances.to_i
        }
%>
<td><%=hour_total%></td>
</tr>
<tr>
<th>On Demand Cost (* UNOPTIMIZED *)</th>
<%
total = 0.0
@dm.day.sort.each { |key, hour|
        %><td><%=hour.od_price%></td><%
        total += hour.od_price.to_f
        }
%>
<td>$<%=total%></td>
</tr>
<tr>
<th>Reserved Instance Optimized Cost</th>
<%
total = 0.0
@dm.day.sort.each { |key, hour|
        %><td><%=hour.rio_price%></td><%
        total += hour.rio_price.to_f
        }
weekday_hours = hour_total * config.days.to_i
weekend_days = 7 - config.days.to_i
instances_per_weekend_hour = config.min_q
instances_per_weekend_hour = config.max_q.to_i * config.weekend_usage.to_f * @usage if config.max_q.to_i * config.weekend_usage.to_f * @usage.to_f > config.min_q.to_i
weekend_hours = instances_per_weekend_hour.to_i * 24 * weekend_days.to_i
config.week_hours = (hour_total.to_i * config.days.to_i) + weekend_hours.to_i
#puts "weekday hours = #{hour_total.to_i * config.days.to_i} weekend hours = #{weekend_hours} Week Hours = #{config.week_hours}"
ami_types = @dm.get_types
ami_type = ami_types[config.type.to_sym]
@month_od_price = ami_type[:OD_hourly].to_f * config.week_hours.to_i * 52 / 12
config.od_total = 0.0 if config.od_total == nil
config.od_total += @month_od_price
config.rio_total_hourly = 0.0 if config.rio_total_hourly == nil
config.rio_total_hourly += @current_monthly
config.rio_install_1y =  rio_install_1y
#config.rio_total_1y = @m_monthly + rio_install_1y
config.rio_count = optimal_ris
@estimate.configs[config.name] = config
%>
<td>$<%=total%></td>
</tr>

</table>
</div>
</div>


