<%
@ami_types = open('ami_types.yaml') { |f| YAML.load(f) }
ami_type = @ami_types[@config.type.to_sym]
%>
 <tr style='height:15.0pt'>
  <td width=35 nowrap valign=bottom style='width:26.55pt;border:none;
  border-left:solid windowtext 1.0pt;background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;
  height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'><%= @config.min_q%></span></p>
  </td>
  <td width=37 nowrap valign=bottom style='width:28.05pt;border:none;
  background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'><%= @config.max_q%></span></p>
  </td>
  <td width=93 nowrap valign=bottom style='width:69.95pt;border:none;
  background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>

  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;text-indent:10.0pt;line-height:normal'><span
  style='font-size:10.0pt;font-family:"Estrangelo Edessa";color:black'><%= @config.type%></span></p>
  </td>
  <td width=88 nowrap valign=bottom style='width:65.8pt;border:none;background:
  #C4BC96;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'><%= ami_type[:OD_hourly] %></span></p>
  </td>
  <td width=107 nowrap valign=bottom style='width:80.4pt;border:none;
  background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'><%= ami_type[:RI_hourly] %></span></p>

  </td>
  <td width=150 nowrap valign=bottom style='width:112.5pt;border:none;
  background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'><%= @config.week_hours%></span></p>
  </td>
  <td width=108 valign=top style='width:81.0pt;border:none;background:#C4BC96;
  padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'><%= currencify(ami_type[:OD_hourly]*@config.week_hours*52/12) %></span></p>
  </td>
  <td width=108 valign=top style='width:81.0pt;border:none;background:#C4BC96;
  padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>

  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'><%= currencify(@config.od_total)%></span></p>
  </td>
  <td width=120 valign=top style='width:1.25in;border:none;background:#C4BC96;
  padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'><%= @config.rio_count %></span></p>
  </td>
  <td width=96 valign=top style='width:1.0in;border:none;background:#C4BC96;
  padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'><%= currencify(@config.rio_install_1y)%></span></p>
  </td>
  <td width=114 valign=top style='width:85.5pt;border:none;background:#C4BC96;
  padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>

  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'><%= currencify(@config.rio_total_hourly + @config.rio_install_1y) %></span></p>
  </td>
  <td width=120 valign=top style='width:1.25in;border:none;border-right:solid windowtext 1.0pt;
  background:#C4BC96;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Estrangelo Edessa";color:black'><%= @config.rio_total_3y %></span></p>
  </td>
 </tr>

