<h1>Edit Instance Configuration</h1>
<form action=/configs/update_config method=post>
<table>
<tr>
<th>Name</th>
<th>Type</th>
<th>Minimum</th>
<th>Maximum</th>
<th>Days to run Model</th>
<th>Off days utilization</th>
</tr>
<tr>
<td><input type=text name=name value=<%= @config[:name] %>></td>
<td>
<select name=type>
<%
ami_types = open('ami_types.yaml') { |f| YAML.load(f) }
for type in ami_types.keys
	selected = ""
	if (type.to_s == @config[:type].to_s)
		selected = "selected"
	end
        %><option value=<%= type %> <%= selected %>><%= type %></option> <%
end
%></select>
</td>
<td><input type=text name=min_q value=<%= @config[:min_q] %>></td>
<td><input type=text name=max_q value=<%= @config[:max_q] %>></td>
<td><input type=text name=days value=<%= @config[:days_of_week] %>></td>
<td><input type=text name=weekend_usage value=<%= @config[:weekend_usage] %>></td>
</table>
<input type=submit value='update'>
</form>



