<%= partial( "header" ) %>
Dynamic Costs for Configuration<br/>
<table cellspacing=5>
<tr>
<td>
<div class=foo></div>
<div class=bar>
<%= partial("monthly_config") %>
</div>
</td>
<td>
<a href=/configs/edit_daily>Edit Weekday Usage Model</a><br />
<a href=/configs>Add Instance Configuration</a><br />
</td>
</tr>
</table>
<div id="navcontainer">
<ul id="navlist" class="idTabs">
<li><a href="#totals">Totals</a></li>
<%
for month in 1..@months.to_i
	%><li><a href="#<%=month%>">Month: <%=month%></a></li><%
end
%>
</ul>
</div>
<% 
#@dm = DailyModel.first(:name => "#{@index_name}-DailyModel")
@ri_counter = 0
@price_history = {}
@cumulative_price_history = {0 => 0.0}
@m_onetime = 0.0
@m_monthly = 0.0
@current_onetime = 0.0
@new_onetime = 0.0
@new_onetime_history = {}
@unoptimized_price = 0.0
@utilization_maxed = 0
@month_history = {}
for month in 1..@months.to_i
	@usage = @month_start_percentage.to_f + (@month_start_percentage.to_f * @month_growth_percentage.to_f * month.to_i)
	@usage = 1 if (@usage >= 1 )
	@m_onetime = 0.0
	@unoptimized_price = 0.0
	%>
	<div id="<%=month%>">
	<b>Month <%= month %></b><br/>
	<%
	for config in @configs
        	%>
        	<%= partial("config",:with => config) %>
        	<%
	end
	%>
	Cumulative Hourly Cost: <%= @m_monthly %><br/>
	Cumulative Reserved Instance cost: <%= @m_onetime %><br/>
	<%
	if (@m_onetime != 0)
		@new_onetime =  @m_onetime - @current_onetime 
		@current_onetime = @m_onetime
	end	
	%>New Reserved Instance Purchase cost: <%= @new_onetime %><br/>
	</div><%
	@new_onetime_history[month] = @new_onetime
	@price_history[month] = @m_monthly + @new_onetime
        if (@cumulative_price_history[month -1] != nil)
                @cumulative_price_history[month] = @cumulative_price_history[month -1] + @m_monthly + @new_onetime
        else
                @cumulative_price_history[month] =  @m_monthly + @new_onetime
        end
	@month_history[month] = @usage
end
@chart_data = @month_history
%>
<div id=move>
Monthly Growth Chart: <br/>
<%= partial("spark") %>
</div>
<div id="totals">
<b>Total Monthly Recurring For <%= @months %> Months:</b> <%=@m_monthly %><br/>
<b>Total Reserved Instance Purchase Cost Over <%= @months %> Months: </b><%= @current_onetime %><br/>
<b>Savings from RI Optimization:  </b><%= @unoptimized_price - @m_monthly %><br/>
<b>Savings from Daily Dynamic Scaling: </b><br/>
<p>
<% @chart_data = @price_history;@chart_name = "monthly expense" %>
<%= partial("chart") %><br/>
<% @chart_data = @cumulative_price_history ; @chart_name = "cumulative spend"%>
<%= partial("chart") %><br/>
<% @chart_data = @new_onetime_history ; @chart_name = "new onetime spend"%>
<%= partial("bar_chart") %><br/>
</p>
</div>

</body>
</html>
