Daily Cost for Config
<hr />
<a href=/>Home</a><br />
<a href=/configs/edit_daily>Edit Weekday Usage Model</a><br />

Estimate: <%= @index_name %><br />
<%
puts "select * from dynamic_usage_configs where ItemName() like '#{@index_name}%'"
list = @sdb.select("select * from dynamic_usage_configs where ItemName() like '#{@index_name}%'")
%>Found <%= list[:items].size %> Configurations <%
for item in list[:items]
	config_ary = item.values
	config_key = item.keys.to_s
	config = {}
	# TODO: fix this ugly hack, and fix tabbin
	for h in config_ary
		for key in h.keys
			value = h[key]		
			#puts "key: #{key} #{key.class} valaue: #{value} #{value.class}"
			config[key.to_sym] = value.to_s
		end
	end
	puts "displaying Config: #{config_key}"
	#puts "Class: #{item.class} #{config["type"]} $"
	#config = @dy.new_config("foo")

ami_types = @dy.get_types
puts "TYPE!!!!! #{config[:type]} CLASS: #{config[:type].class}"
ami_type = ami_types[config[:type].to_sym]
daily_matrix,min,max = @dy.calc_daily_matrix(config)
total_instance_hours_per_week = @dy.calc_total_weekly_hours(daily_matrix,config)
optimal_RIs = @dy.calc_optimal_ri(config)
weekly_optimized_cost,riop = @dy.calc_ri_optimized_price(optimal_RIs,daily_matrix,config)
%>
<br />
Optimal Reserved Instances: <%= optimal_RIs %><br />
<table border=1>
<tr>
<center><th><a href=<%= URI.escape("/configs/edit_config?config_key=#{config_key}") %>><%= config[:name] %></a></th></center></tr>
<tr>
<th> Hour: </th>
<%
for hour in daily_matrix.keys.sort
	%><th><%=hour%></th><%
end
%>
<th>Total</th>
<th>RI 1 Year Up Front Cost</th>
<th>Total Annual Cost</th>
</tr>
<tr>
<th>Number of Instances</th>
<%
count = 0
for key in daily_matrix.keys.sort
	iu = daily_matrix[key]
	noi = iu[:number_of_instances]
	usage = iu[:usage]
	%><td><%=noi%></td><%
	count += noi.to_i
end
%>
<td><%=count%></td></tr>
<th>On Demand Price $<%= ami_type[:OD_hourly].to_f %></th>
<%
count = 0.0
for key in daily_matrix.keys.sort
        iu = daily_matrix[key]
        noi = iu[:number_of_instances]
        od_price = noi.to_i * ami_type[:OD_hourly].to_f
	#puts "OD Price = NOI: #{noi} OD_hourly #{ ami_type[:OD_hourly].to_f}  $"
        %><td><%=od_price%></td><%
        count += od_price.to_f
end
%>
<td><%=count%></td>
<td>$0.00</td><td><%= count * 365 %></td>
</tr>
<th>RI Optimized Price</th>
<%
count = 0.0
for hour in riop.keys.sort
	rio_price = riop[hour]
        %><td><%=rio_price%></td><%
        count += rio_price.to_f
end
ri_one_year = ami_type[:RI_y1_install].to_f * optimal_RIs.to_f
%>
<td><%=count%></td>
<td><%= ri_one_year %></td><td><%= (count.to_f * 365) + ri_one_year %></td>
</tr>
</table>
<%
end
%>
