<%
def currencify(number, options={})
  # :currency_before => false puts the currency symbol after the number
  # default format: $12,345,678.90
  options = {:currency_symbol => "$", :delimiter => ",", :decimal_symbol => ".", :currency_before => true}.merge(options)

  # split integer and fractional parts
  int, frac = ("%.2f" % number).split('.')
  # insert the delimiters
  int.gsub!(/(\d)(?=(\d\d\d)+(?!\d))/, "\\1#{options[:delimiter]}")

  if options[:currency_before]
    options[:currency_symbol] + int + options[:decimal_symbol] + frac
  else
    int + options[:decimal_symbol] + frac + options[:currency_symbol]
  end
end
%>
<%= partial( "header" ) %>
<div id="leftcolumn">
<div class=foo></div>
<div class=bar>
<%= partial("monthly_config") %>
</div>
<a href=/configs/edit_daily>Edit Weekday Usage Model</a><br />
<a href=/configs>Add Instance Configuration</a><br />

</div>
<div id="content">
<%= partial("month_header") %>
<% 
#@dm = DailyModel.first(:name => "#{@index_name}-DailyModel")
#@ri_counter = 0
@newmonth_ri_counter = 0
@lastmonth_ri_counter = 0
@ri_history = {0 => 0}
@price_history = {}
#@cumulative_price_history = {0 => 0.0}
@cumulative_price_history = []
@no_install_history = []
@m_onetime = 0.0
@current_monthly = 0.0
@m_monthly = 0.0
@current_onetime = 0.0
@new_onetime = 0.0
@new_onetime_history = {}
@unoptimized_price = 0.0
@total_unoptimized_price = 0.0
@utilization_maxed = 0
@month_history = {}
@rio_history = []
@unoptimized_history = []
@cumulative_unoptimized_history = []
for @month in 1..@months.to_i
	@newmonth_ri_counter = 0
	@current_monthly = 0.0
	@total_current_monthly = 0.0
	@usage = @month_start_percentage.to_f + (@month_start_percentage.to_f * @month_growth_percentage.to_f * @month.to_i)
	puts "USAGE: #{@usage}"
	@usage = 1 if (@usage >= 1 )
	@m_onetime = 0.0
	@unoptimized_price = 0.0
	%>
	<div id="<%=@month%>">
	<b>Month <%= @month %></b><br/>
	<%
	for config in @configs
        	%>
        	<%= partial("config",:with => config) %>
        	<%
	end
	%>
	Monthly Unoptimized Cost: <%= currencify(@unoptimized_price/12) %><br/>
	Monthly Optimized Cost: <%= currencify(@total_current_monthly) %><br/>
	Cumulative Hourly Cost: <%= currencify(@m_monthly) %><br/>
	Cumulative Reserved Instance cost: <%= currencify(@m_onetime) %><br/>
	<%
	if (@m_onetime != 0)
		@new_onetime =  @m_onetime - @current_onetime 
		@new_ri_counter = @newmonth_ri_counter - @lastmonth_ri_counter
		@lastmonth_ri_counter = @newmonth_ri_counter
		@current_onetime = @m_onetime
	end	
	%>New Reserved Instance Purchase cost: <%= currencify(@new_onetime) %><br/>
	</div><%
	@new_onetime_history[@month] = @new_onetime
	@price_history[@month] = @m_monthly + @new_onetime
	@unoptimized_history.push(@unoptimized_price/12)
	puts "UNOPTIMIZED PRICE this Month #{@unoptimized_price/12}"
	@total_unoptimized_price += @unoptimized_price/12
	puts "TOTAL UNOPTIMIZED PRICE #{@total_unoptimized_price}"
	@cumulative_unoptimized_history.push(@total_unoptimized_price)
	oh_this_sucks = @cumulative_price_history.last
	oh_this_sucks = 0 if oh_this_sucks == nil
	puts "Optimized Price #{@current_monthly} + #{@new_onetime} + #{oh_this_sucks} should = #{@m_monthly + @new_onetime + oh_this_sucks}"
	@cumulative_price_history.push(@total_current_monthly + @new_onetime + oh_this_sucks)
	@no_install_history.push(@total_current_monthly)
	@rio_history.push(@total_current_monthly+ @new_onetime)
	@month_history[@month] = @usage
	@ri_history[@month] = @new_ri_counter
end
@chart_data = @month_history
%>
<div id=move>
Monthly Growth Chart: <br/>
<%= partial("spark") %>
</div>
<div id="totals">
<table ><tr><td>
<h1> Totals </h1>
<b>Total On Demand Price <%= currencify(@unoptimized_price) %></b></br>
<b>Total Monthly Recurring For <%= @months %> Months:</b> <%=currencify(@m_monthly) %><br/>
<b>Total Reserved Instance Purchase Cost Over <%= @months %> Months: </b><%= currencify(@current_onetime) %><br/>
<b>Total Reserved Instance Optimized Price <%= currencify(@m_monthly + @current_onetime) %></b></br>
<h1> Savings </h1>
<b>Savings from RI Optimization:  </b><%= currencify(@unoptimized_price - (@m_monthly + @current_onetime)) %><br/>
<b>Savings from Daily Dynamic Scaling: </b><br/>
</td>
<td>
<h2>Cost per Month</h2>
<%
@data = [{"Optimized" => @rio_history},{"Unoptimized" => @unoptimized_history}]
%>
<%= partial("line_chart") %>
<h2>Cumulative Cost</h2>
<%
@data = [{"Optimized" => @cumulative_price_history},{"Unoptimized" => @cumulative_unoptimized_history}]
%>
<%= partial("line_chart") %>
<h2>Monthly less install</h2>
<%
@data = [{"Optimized" => @no_install_history},{"Unoptimized" => @unoptimized_history}]
%>
<%= partial("line_chart") %>
</td></tr>
<tr>
<td colspan=2>
<% @chart_data = @new_onetime_history ; @chart_name = "new onetime spend"%>
<%= partial("bar_chart") %>
<% @chart_data = @ri_history ; @chart_name = "New Reserved Instances per Month"%>
<%= partial("bar_chart") %>
</td></tr></table>
<% 
#@chart_name = "Reserved Instance Trends"
#@chart_data = {"Total New Reserved Instances per Month" => @ri_history,"new onetime spend" => @new_onetime_history} 
%>
</td></tr>
</table>
</div>
</div>
<%= partial("detail") %>

</body>
</html>
